@use "abstracts/variables";

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header, .footer {
  background: variables.$primary-color;
  color: white;
  padding: 15px 0;
  text-align: center;
}